.diode-status {
    align-items: center;
    background-color: rgba(22, 22, 22, 1);
    border-radius: 25px;
    display: flex;
    height: 13px;
    min-width: 13px;
    padding: 0 5px;
}

.ellipse-14 {
    background-color: rgba(29, 221, 0, 1);
    border: 1px none;
    border-radius: 1 .5px;
    box-shadow: 0px 4px 4px #1edd00;
    height: 3px;
    width: 3px;
}