:root {
  --tt-base: 10;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #6837ef;
  --color-secondary: #6837ef;
  --color-paragraph: #555555;
  --color-bg-image: #f0eef7;
  --font-family-heading: "Poppins", sans-serif;
  --font-family-body: "Lato", "Poppins", sans-serif;
  --font-family-code: "Roboto Mono", monospace;
  --font-family-ubuntu: "Ubuntu";
  --header-anhor: #1d1d1d;
  --black: rgba(0, 0, 0, 1);
  --woodsmoke: rgba(14, 14, 14, 1);
  --hunter-green: rgba(22, 22, 22, 1);
  --green: rgba(29, 221, 0, 1);
  --trendy-pink: rgba(154, 105, 152, 1);
  --tower-gray: rgba(169, 182, 191, 1);
  --red: rgba(251, 0, 0, 1);
  --sea-buckthorn: rgba(249, 170, 51, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s: 7px;
  --font-size-m: 8px;
  --font-size-l: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // background: rgb(0 100 0 / 0.1) !important;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

html {
  width: 100%;
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: var(--font-family-body);
  word-wrap: break-word;
}

.ubuntu-medium-tower-gray-7px{
  color: var(--tower-gray);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.w-700 {
  font-weight: 700;
}

.w-300 {
  font-weight: 200;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.image {
  height: 100%;
  width: 100%;
}

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.underline {
  text-decoration: underline;
}
#root {
  // max-width: 1440px;
  // margin: 0 auto;
  // background-color: var(--color-bg-image);
}

section {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 8rem !important;
}

.u-block-1 {
  width: 70%;

  @include xs {
    width: 90%;
  }
  @include tn {
    width: 95%;
  }
}

// &&&&&&&&&&&&&&&
//  Typetura
// &&&&&&&&&&&&&&&
.h-large,
.h-medium,
.h-regular,
.h-small {
  --tt-ease: ease-out;
  --tt-max: 1440;
  font-family: var(--font-family-heading);
}

.h-large {
  font-weight: 600;
  --tt-key: heading-large;
}

.h-medium {
  font-weight: 600;
  --tt-key: heading-medium;
}

.h-regular {
  font-weight: 500;
  --tt-key: heading-regular;
}

.h-small {
  font-weight: 400;
  --tt-key: heading-small;
  line-height: 150%;
}

.paragraph {
  font-weight: 400;
  line-height: 150%;
  font-family: var(--font-family-body);
  font-size: 1.8rem;
  color: var(--color-paragraph);
}

.paragraph-light {
  @extend .paragraph;
  color: var(--color-light);
  opacity: 0.75;
}

.btn {
  min-width: 200px;
  font-family: var(--font-family-body);
  font-size: 1.5rem;
  max-width: 253px;
  text-align: center;
  @include xs {
    min-width: 130px;
    max-width: none;
  }
  @include tn {
    min-width: 100px;
  }
}

.btn-secondary-1 {
  @extend .btn;
  @include u_button(var(--color-light), var(--color-secondary), var(--color-secondary));
}

.btn-secondary-2 {
  @extend .btn;
  @include u_button(var(--color-secondary), var(--color-light), var(--color-light));
}
.btn-secondary-3 {
  @extend .btn;
  @include u_button(var(--color-light), var(--color-dark), var(--color-light));
}

.btn-primary-1 {
  @extend .btn;
  @include u_button(var(--color-primary), var(--color-light), var(--color-primary));
}

@keyframes heading-large {
  22% {
    font-size: 2.5rem;
  }
  70% {
    font-size: 3rem;
  }
  100% {
    font-size: 4.8rem;
  }
}

@keyframes heading-medium {
  22% {
    font-size: 2.05rem;
  }
  70% {
    font-size: 2.8rem;
  }
  100% {
    font-size: 3.6rem;
  }
}

@keyframes heading-regular {
  22% {
    font-size: 2rem;
  }
  70% {
    font-size: 2.8rem;
  }
  100% {
    font-size: 3rem;
  }
}

@keyframes heading-small {
  22% {
    font-size: 1.8rem;
  }

  70% {
    font-size: 1.8rem;
  }
  100% {
    font-size: 2.5rem;
  }
}
