@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding-left: theme("spacing.6");
        padding-right: theme("spacing.6");
        padding-bottom: theme("spacing.6");
        padding-top: theme("spacing.8");
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        margin-top: 2rem;
    }

    .menu-bars {
        margin-left: 2rem;
        background: none;
    }
    .nav-menu {
        background: none;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 850ms;
        top: 1.85rem;
        opacity: 90%;
        z-index: 20;
        overflow-y: auto;
    }

    .nav-text {
        list-style: none;
        height: 60px;
    }

    .nav-text label {
        text-decoration: none;
        color: theme("colors.gray.700");
        font-size: 18px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        .nav-text:hover {
            background-color: theme("colors.blue.300");
        }
    }

    .nav-text:hover {
        background-color: none;
    }

    .settings-button {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        color: theme("colors.blue.300");
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: color 0.3s;
        -webkit-text-decoration-skip: objects;
        touch-action: manipulation;
    }

    .settings-button:active,
    .settings-button:hover {
        text-decoration: none;
        outline: 0;
    }
    .settings-button:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        color: theme("colors.blue.400");
    }
    .settings-button:active {
        color: theme("colors.blue.500");
    }

    .settings-button:focus {
        text-decoration: none;
        outline: 0;
    }
    .settings-button[disabled] {
        color: rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }

    .main_menu {
        align-items: center;
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .navbar_container {
        align-items: center;
        background-color: rgba(14, 14, 14, 1);
        border-radius: 14px;
        box-shadow: 0px 4px 4px #00000026;
        display: flex;
        justify-content: center;
        gap: 38px;
        /* height: 48px; */
        margin-left: 10%;
        margin-top: 2.4rem;
        padding: 4.9px 4px;
        filter: drop-shadow(6px 6px 6px rgba(25, 24, 24, 0.734));
    }

    .navbar_group {
        align-items: flex-end;
        border-radius: 14px;
        height: 48px;
        position: relative;
        width: 71px;
        top: 6px;
        left: 4px;
        padding: 0px 4px;
    }

    .dashboard_highlight {
        background-color: #252536;
        border: 1px none;
        border-radius: 14px;
        height: 37px;
        left: 0;
        position: absolute;
        top: 0;
        width: 83px;
        transform: rotate(0.15deg);
        transition: all 0.3s ease;
        opacity: 0.75;
    }

    .dashboard_highlight:hover {
        opacity: 1;
    }

    .dashboard_highlight:active {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .settings_highlight {
        background-color: #252536;
        border: 1px none;
        border-radius: 14px;
        height: 37px;
        left: 0;
        position: absolute;
        top: 0;
        width: 70px;
        transform: rotate(0.15deg);
        transition: all 1.3s ease;
        opacity: 0.75;
    }

    .settings_highlight:hover {
        opacity: 1;
    }

    .settings_highlight:active {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .highlight_inactive {
        background-color: #252536;
        border: 1px none;
        border-radius: 14px;
        height: 37px;
        left: 0;
        position: absolute;
        top: 0;
        width: 71px;
        transform: rotate(0.15deg);
        visibility: hidden;
    }

    .nav_item_active {
        display: flex;
        align-items: center;
        font-family: "Ubuntu";
        font-size: 12px;
        left: 13px;
        letter-spacing: 0;
        position: absolute;
        top: 11px;
    }

    .nav_item_inactive {
        display: flex;
        align-items: center;
        color: #5e5e5e;
        font-family: "Ubuntu";
        font-size: 12px;
        left: 13px;
        letter-spacing: 0;
        position: absolute;
        top: 11px;
    }

    .rectangle_146 {
        background-color: #252536;
        border: 1px none;
        border-radius: 15px;
        height: 48px;
        margin-left: 10%;
        margin-top: 2.4rem;
        padding: 4.9px 4px;
        filter: drop-shadow(6px 6px 6px rgba(25, 24, 24, 0.734));
        box-shadow: 0px 4px 4px #00000026;
        margin-right: 2.4rem;
        width: 248px;
    }
}

#root {
    text-align: center;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    cursor: default;
    background-color: #ffffff;
    color: #0b0c10;
    text-align: center;
}

.App {
    background-color: #ffffff;
    color: #0b0c10;
    text-align: center;
    padding: 5px;
    height: 100vh;
}

.main-div {
    background-color: rgba(0, 0, 0, 0.73);
}

.plus-color {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(1deg)
        brightness(119%) contrast(119%);
}

.plus-color:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.12);
    transition: all 1.3s ease;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ae6d6d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b24646;
}
