$max-viewport: 1440;
$base-font-size: 10px;
$base-spacing-unit: 24px;
$base-font-size: 10px;

$break-start: ($base-spacing-unit * 15);
$break-end: ($base-spacing-unit * 45);
$break-stop: $break-end - 1px;
