/.vscode
/.idea
**/__pycache__/**
**/*.pyc
*.cfg
*.log
EyeTrackApp/venv
EyeTrackApp/eyetrack_settings.json
EyeTrackApp/eyetrack_settings.backup
EyeTrackApp/build
EyeTrackApp/dist
build
dist
EyeTrackApp/IBO_LEFT.png
EyeTrackApp/IBO_RIGHT.png

EyeTrackApp/IBO_LEFT.png
EyeTrackApp/IBO_RIGHT.png
/EBPD_LEFT.png
/EyeTrackApp/EBPD_RIGHT.png
/EBPD_RIGHT.png
/IBO_RIGHT.png
/IBO_LEFT.png
/eyetrack_settings.backup
/eyetrack_settings.json
zBuild.bat
EyeTrackApp/z_CompileBuild.bat
