/* ./index.module.css */

.primary_btn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    /* background: #185adb; */
    transition: all 0.25s ease;
}

.primary_btn:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6); */
}