.side-bar {
  background: #c9c7c5;
}

.site-footer a {
  color: #c9c7c5;
  text-decoration: none;
  background-image: none;
}

.site-footer {
  color: #c9c7c5;
}

.header-container {
  border-radius: 0;
  display: inline-block;
  margin: 0px;
  width: 270px;
}

.header-buttons ul li {
  display: inline-block;
  /* vertical-align: center; */
  width: 90%;
}

.header-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;

  >li {
    height: fit-content;
    width: fit-content;

    &::before {
      position: absolute;
      margin-left: -1.4em;
      color: $grey-dk-000;
      content: '' !important;
    }
  }
}

.nav-list-item a {
  color: #000;
}

.nav-list .nav-list-item .nav-list-expander {
  color: #000;
}

.nav-list .nav-list-item .nav-list-expander:hover,
.nav-list .nav-list-item .nav-list-link:hover {
  text-decoration: underline;
  background-image: none;
}

.nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
}

.nav-list-item.active .nav-list-expander,
.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link,
.nav-list-item.active a {
  color: #888;
}

.breadcrumb-nav-list-item {
  display: inline-block;
}

.breadcrumb-nav-list-item::after {
  margin-right: 0.1rem;
}

.site-header a,
.site-button>.icon {
  color: #000;
}

.side-bar a:hover {
  background-image: none;
  text-decoration: underline;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  text-transform: none;
}

hr {
  border-top: 1px solid rgb(220, 220, 220);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; //16:9
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  background: #eee;
  border-left: 4px solid #bbb;
  padding: 5px 10px;
  margin: 8px 0 16px 0;
}

blockquote p {
  margin: 5px 0;
}

.main-content a {
  white-space: normal;
  overflow-wrap: break-word;
}

.bpTable td {
  vertical-align: top;
}

#bpImage {
  height: 400px;
  max-width: none;
}

.bp {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.bp::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 12px;
  margin-left: 10px;
  border-top: 5px solid #007575;
  border-bottom: none;
}

.bp.open::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 12px;
  margin-left: 10px;
  border-bottom: 5px solid #007575;
  border-top: none;
}

.bpdata {
  padding-left: 10px;
  max-height: 0px;
  overflow: hidden;
}

.bpdata.open {
  max-height: 60px;
}

.main-content dl {
  grid-template: auto / auto 1fr;
}

.rotation {
  display: block;
}

.caseImage {
  max-width: 400px;
}

.nav-list-item.active {
  color: #000;
}

.nav-list-item.active:has() {}

.nav-list-item.active .nav-list-expander,
.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link,
.nav-list-item.active a {
  color: #000;
  position: relative;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link::before {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  height: 100%;
  width: 20px;
  top: 0;
  border-left: 1px solid #00d1d1;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #00d1d1;
}

.nav-list .nav-list-item .nav-list-expander {
  display: none;
}

.nav-list .nav-list-item>.nav-list {
  display: block;
}

@media (min-width: 50rem) {
  .site-nav {
    padding-top: 1rem;
  }

  .site-header a {
    font-size: 20px !important;
  }

  .rotation {
    width: calc(100% / 4);
  }

  .rotation {
    display: inline-block;
  }
}

@media (min-width: 66.375rem) {
  .site-header a {
    font-size: 24px !important;
  }

  .main-content dl {
    grid-template: auto / 10em 1fr;
  }

  .rotation:nth-child(1) {
    width: 100px;
  }

  .rotation:nth-child(2) {
    width: 140px;
  }

  .rotation:nth-child(3) {
    width: 90px;
  }

  .rotation:nth-child(4) {
    width: 100px;
  }

  .nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link::before {
    left: 20px;
  }
}

@media (min-width: 31.25rem) {
  h2 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 18px !important;
  }
}

/* Alert Styles */

.alert-warning {
  color: #444;
}

div.alert code,
h2 code {
  background-color: transparent !important;
}

/* without this, the links in these notes aren't visible.*/
.alert a {
  text-decoration: underline;
}

.octicon-note {
  fill: $color-accent-fg-note-light;
  vertical-align: middle;
}

.octicon-alert {
  fill: $color-accent-fg-warning;
  vertical-align: middle;
}

.octicon-danger {
  fill: $color-accent-fg-danger;
  vertical-align: middle;
}

.octicon-success {
  fill: $color-accent-fg-success;
  vertical-align: middle;
}

.octicon-tip {
  fill: $color-accent-fg-tip;
  vertical-align: middle;
}

.icon-span-note {
  color: $color-accent-fg-note-light;
}

.icon-span-warning {
  color: $color-accent-fg-warning;
}

.icon-span-success {
  color: $color-accent-fg-success;
}

.icon-span-tip {
  color: $color-accent-fg-tip;
}

.icon-span-danger {
  color: $color-accent-fg-tip;
}


.bs-example {
  margin: 20px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

/* FAQ page */
#accordion .panel-heading {
  font-size: 12px;
}

a.accordion-toggle,
a.accordion-collapsed {
  font-size: 14px;
  text-decoration: none;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%;
}

/* 2 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}

@media only screen and (min-width: 900px),
only screen and (min-device-width: 900px) {
  .col-md-9 img {
    max-width: 700px;
    max-height: 700px;
  }
}

/* Font Awesome */

a.fa.fa-envelope-o.mailto {
  font-weight: 600;
}

/* this part adds an icon after external links, using FontAwesome*/
/* a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
} */

/* Strip the outbound icon when this class is present */
/* a[href].noCrossRef::after,
a.no_icon:after {
  content: "" !important;
  padding-left: 0;
} */