/* * {
  color: rgb(72, 6, 252) !important;
} */

/* // Print-only styles.
@media print {

  .side-bar,
  .page-header {
    display: none;
  }

  .main-content {
    max-width: auto;
    margin: 1em;
  }
} */