@import "../Logo/index.scss";


.main-menu {
    align-items: center;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.overlap-group {
    align-items: center;
    background-color: rgba(14, 14, 14, 1);
    border-radius: 14px;
    box-shadow: 0px 4px 4px #00000026;
    display: flex;
    justify-content: center;
    gap: 38px;
    //height: 48px;
    margin-left: 10%;
    margin-top: 2.4rem;
    padding: 4.9px 4.0px;
    filter: drop-shadow(6px 6px 6px rgba(25, 24, 24, 0.734));
}

.overlap-group1 {
    align-items: flex-end;
    border-radius: 14px;
    height: 48px;
    position: relative;
    width: 71px;
    top: 6px;
    left: 4px;
}

.rectangle-2 {
    background-color: #252536;
    border: 1px none;
    border-radius: 14px;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 71px;
    transform: rotate(0.15deg);
}

.cameras {
    left: 13px;
    letter-spacing: 0;
    position: absolute;
    top: 11px;
}

.notifications {
    color: #5e5e5e;
    font-family: "Ubuntu";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 2.0px;
    min-height: 14px;
    min-width: 71px;
}

.rectangle-146 {
    background-color: #252536;
    border: 1px none;
    border-radius: 15px;
    height: 48px;
    margin-left: 10%;
    margin-top: 2.4rem;
    padding: 4.9px 4.0px;
    filter: drop-shadow(6px 6px 6px rgba(25, 24, 24, 0.734));
    box-shadow: 0px 4px 4px #00000026;
    margin-right: 2.4rem;
    width: 248px;
}