$body-background-color: #202225;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-lt-300;
$search-result-preview-color: $grey-lt-300;

$link-color: $green-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 7%);

.footer-logo a {
  color: $blue-000;
}

/* .site-footer a {
  color: $blue-000;
} */

.aux-nav-list a {
  color: $blue-000;
}

#markdown-toc a {
  color: $blue-000;
}

p > a {
  color: $blue-000;
}
p > strong > em > a {
  color: $blue-000;
}

.breadcrumb-nav-list a {
  color: $blue-000;
}

ul > li > a {
  color: $blue-000;
}

#main-content blockquote {
  background-color: #202225;
}

#main-content a {
  color: $blue-000;
}

.site-footer a {
  color: #00ffff;
  text-decoration: none;
  background-image: none;
}

.site-footer {
  color: #00ffff;
}

#main-content .octicon-info {
  fill: $color-accent-fg-info-dark;
  vertical-align: middle;
}

#main-content .icon-span-info {
  color: $color-accent-fg-info-dark;
}

#main-content .octicon-info>path {
  fill: $color-accent-fg-info-dark;
}

#main-content .octicon-alert>path {
  fill: $color-accent-fg-warning;
}