@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// @import "@styles/vars.scss";
// @import "@styles/scss-utils/u_media_query.scss";
// @import "@styles/scss-utils/u_classes.scss";
// @import "@styles/scss-utils/u_mixins.scss";
// @import "@styles/scss-utils/u_responsive.scss";
// @import "@styles/global.scss";
body {
    background-color: #22222d;
}

@import "@pages/ETVRPage01/index.scss";
@import "@pages/ETVRPage02/index.scss";