altgraph==0.17.2
certifi==2022.6.15
charset-normalizer==2.0.12
comtypes==1.1.11
dacite==1.6.0
dataclasses==0.8
docopt==0.6.2
future==0.18.2
idna==3.3
importlib-metadata==4.8.3
joblib==1.1.0
msgpack-python==0.5.6
numpy==1.19.5
opencv-python==4.5.3.56
pefile==2022.5.30
pipreqs==0.4.11
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pypiwin32==223
PySimpleGUI==4.60.1
python-osc==1.8.0
pyttsx3==2.90
pywin32==304
pywin32-ctypes==0.2.0
requests==2.27.1
sortedcontainers==2.4.0
typing_extensions==4.1.1
urllib3==1.26.9
yarg==0.1.9
zipp==3.6.0
python-osc==1.8.0
sympy==1.2
sympy
