@mixin u_button($color, $background, $border) {
  background: $background;
  color: $color;
  border: 2px solid $border;
  padding: 1.5rem 3rem;
  
  &:hover {
    background: $color;
    color: $background;
  }

  @include md {
    padding: 1.5rem 2rem;
  }
}

@mixin u_block($width) {
  width: $width;

  @include xs {
    width: 90%;
  }
  @include tn {
    width: 95%;
  }
}
