name: "tauri-build"
on:
  push:
    branches: [
      GUI
    ]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev libsvg2-dev patchelf
      - name: install app dependencies
        run: |
          yarn
          npm install -g typescript
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          tagName: app-v__VERSION__ 
          releaseName: "app v__VERSION__" 
          releaseBody: "See the assets to download this version and install." 
          releaseDraft: true 
          prerelease: false
